In [13]:
def primenumbers(a,b):
    """This is a function to print prime numbers between a range"""
    print ("prime numbers between" ,a , "and ", b ,"are:  " )
    for num in range (a,b+1):
        if num > 1:
            for i in range (2,num):
                if num%i == 0 :
                    break
            else:
                print (num)

In [14]:
primenumbers(1,100)

prime numbers between 1 and  100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [409]:
#function to do same work as listextend

def listappend(*a):
    """Function to work similar to listextend"""
    l = [1,2,3,4,5]
    l[len(l)::] = [*a]
    return l

In [410]:
listappend(6,7,8,9,10,"true",12,45,999,123,12)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'true', 12, 45, 999, 123, 12]

In [337]:
#function to do same work as listappend

def listappend(a):
    """Function to work similar to listappend """
    l = [1,2,3,4,5]
    y = [a]
    for i in [len(y)]:
        l[len(l)::] = y
    return l

In [352]:
listappend(12)

[1, 2, 3, 4, 5, 12]

In [408]:
#function to do same work as listextend

def listextend(): """Function to work similar to listextend """

l = [1,2,3,4,5]
l.append(11)
l.append(20)
l.append(30)
print (l)

[1, 2, 3, 4, 5, 11, 20, 30]

In [255]:
 #lambda function which can return a concatination of all the string that we will pass
n = lambda a,b,c : a+b+c

In [256]:
n("this","is","fun")

'thisisfun'

In [51]:
#lambda function which can return list of square of all the data between 1-100 
y = lambda a: [i*i for i in range(1,a+1)]

In [52]:
y(100)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [100]:
#10 Different different example of lambda function with a choice of your taks
#example 1

#lambda function to find if number is even or odd
even = lambda x, y: print ("even") if x%2==0 else print ("odd") 
even (100,even)

even

In [78]:
#example 2
#Lambda function to find find factorial of a number

factorial = lambda x, f: x*(f(x-1, f)) if x > 1 else 1
factorial(1,factorial)

1

In [106]:
#example 3
#Lambda function to find if given year is leap year or not
Leap = lambda x, y: print (x," is a leap year") if x%4==0 else print (x,"is not a leap year") 
Leap (2020,Leap)

2020  is a leap year

In [113]:
#Example 4
#Lambda function to find string is palindrome or not
Palindrome = lambda x,y: print (x, "is a palindrome") if (x == x[::-1]) else print (x,"is not a palindrome")
Palindrome ("malayalam",Palindrome)

malayalam is a palindrome

In [182]:
#Example 5
#Lambda function to find division of two numbers
Odd = lambda x, y: (x/y) 
Odd(1,2)

0.5

In [128]:
#Example 6

#Lambda function to find a status if < 5000 low else high
find_status= lambda a: 'Low' if (a<5000)  else 'High'
find_status (10000)

'High'

In [190]:
#Example 7

#Lambda function to find cube root of number given
a = lambda a: pow(a,3)
a(9)

729

In [203]:
#Example 8
#Lambda function to returns strings that are doubled

a = lambda *a: (a)*2
a("new","time","rest","is","next")

('new', 'time', 'rest', 'is', 'next', 'new', 'time', 'rest', 'is', 'next')

In [219]:
#Example 9

#lambda function to return quadratic equation value
def quadraticequation(a,b,c):
    """"return value of quadratic equation ax2+bx+c"""
    return lambda x: a**x+b*x+c
y = quadraticequation(2,3,4)


y(7)

153

In [226]:
#Example 10
# Average of 3 numbers

x = lambda x,y,z: (x+y+z)/3

In [225]:
x(9,2,3)

4.666666666666667

In [246]:
def readfile (Testfile):
    f = open("C:\\personal\Mumtaz\Data science\Testfile.txt")
    print (f.read())
    f.close()

In [421]:
readfile("Testfile")

This is test file to do read operation of a file in python assignment dated 05062022

In [419]:
#function to do same work as pop

def popfunction(*a):
    """This function is to behave like pop function without using pop function"""
    m = [*a]
    l = m[0:len(m)-1]
    return l

In [420]:
popfunction (5,6,7,8,9,10,11,12,13,14,15)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]